@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    margin: auto;
}

textarea,
button,
input,
select {
    outline: none;
    line-height: normal;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

body {
    height: 2000px;
    background-color: #f1f1f1;
}

.header {
    background-color: aqua;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: top 0.3s linear;
    -webkit-transition: top 0.3s linear;
    -moz-transition: top 0.3s linear;
    -ms-transition: top 0.3s linear;
    -o-transition: top 0.3s linear;
    will-change: top;
}

.header.fixed {
    top: -60px;
}

.navbar {
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.navbar-items {
    font-size: 20px;
    font-weight: 600;
}

.navbar-items a {
    color: black;
}

#main {
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

p+p {
    margin-bottom: 20px;
}

#footer {
    max-width: 1080px;
    margin: auto;
    position: relative;
}

.back-top {
    background: red;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    will-change: opacity;
    cursor: pointer;
}

.back-top.scroll {
    opacity: 1;
}